body {
    background-color: #EAF2E3;
}

/* Header bar */
h1 {
    text-align: center;
    color: white;
    background-color: #595F72;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
}

/* Left side of the page */
#left-side {
    margin-left: 30px;
    margin-right: 30px;  
    background-color: #A4999F;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
}

label {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    margin-left: 10px;
}

/* In-line style for form */
#input{
    display: flex;
    flex-flow: row wrap; 
    padding: 10px 0 20px 10px;

}

input {
    border-color: gray;
    border-style: solid;
}

/* Decorate 'submit' button */
#submit {
    background-color: #ACD8AA;
    border-radius: 20px;
    border-color: #77A176;
    height: 40px;
    width: 100px;
    margin-left: 10px;
}

/* 'submit' button on hover */
#submit:hover {
    background-color: #77A176;
    border-color: #595F72;
}

/* Decorating city buttons */
.saved-city {
    background-color: #E8998D;
    border-radius: 30px;
    border-color: #B26E73;
    height: 50px;
    width: 200px;
    display: block;
    margin: 20px auto 20px auto;
    border-width: 2px;
}

/* 'saved-city' button on hover */
.saved-city:hover {
    background-color: #B26E73;
    border-color: #595F72;
}

/* Decorate 'clear search history' button */
#clear-search-history {
    background-color: #ACD8AA;
    border-radius: 10px;
    border-color: #77A176;
    height: 30px;
    width: 175px;
    display: block;
    margin: 80px auto 20px auto;
}

/* 'clear-search-history' button on hover */
#clear-search-history:hover {
    background-color: #77A176;
    border-color: #595F72;
}

/* Styling for both weather containers */
#left-side, .card, #forecast-container {
    padding: 10px 0 5px 10px;
    background-color: #A4999F;
    border-radius: 10px;
}

/* Holds current weather information */
.card {
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}

/* Current and 5-day titles */
h3 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-bottom: 20px;
}

/* Box contains info of city and date on left side of current weather card */
#info-box {
    text-align: center;
    background-color: #EED2CC;
    max-width: 400px;
    margin: auto;
    border-color: #595F72;
    border-style: solid;
    border-radius: 10px;
}

/* Indicates UV index range in the background */
.index {
    padding: 5px;
    line-height: 60px;
}

/* Container that holds the 5-day weather information */
#forecast-container {
    max-width: 93%;
}

/* Boxes for holding 5-day forecast information */
.forecast {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    width: 150px;
    height: 200px;
    padding: 5px;
    background-color: #B0D0D3; 
    margin: 10px;
    border-color: #595F72;
    border-style: solid;
    border-radius: 10px;
}

/* Styles dates on 5-day forecast boxes */
.forecast-date {
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

/* Targets icons on 5-day forecast boxes */
.forecast-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Targets ALL icons */
img {
    width: 100px;
}